.info-container{
    background-color: gainsboro;
}
.casual-light{
    background-color: azure;
}
.p-card-footer{
    background-color: white;
}
.formal-light{
    background-color: whitesmoke;
}
.list-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
}
.info-image img {
    height: 100px;
    width: 150px;
}

footer{
    align-items: center;
    text-align: center;
    margin-top: 5PX;
    background-color: gainsboro;
}

.info{
    display: flex;
}
.header-orange{
    color: orange;
}
.header-purple{
    color: orchid;
}
@media only screen and (max-width: 600px) {
    .info{
        display: flex;
        flex-direction: column-reverse;
    }
    .media-size{
        height: 100px;
        width: 200;
        margin-right: 50px;
    }
    

  }